.bcs-intro {
    text-align: center;
    padding: 40px 20px;

    h1 {
        font-size: 70px;
        color: #D4A017;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        margin-top: 30px;
    }

    h2 {
        font-size: 40px;
        color: #B22222;
        font-family: 'Montserrat', sans-serif;
        margin-top: 50px;
        font-weight: bold;
    }
}

.moments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    justify-content: center;

    .moments-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease;

        img {
            max-width: 100%;
            border-radius: 10px 10px 0 0;
        }

        h3 {
            margin: 15px 0;
            font-size: 1.2rem;
            color: #333;
        }
    }
}

@media (max-width: 600px) {
    .moments-grid {
        padding: 20px; /* Reduce el padding */
        gap: 10px; /* Reduce el espacio entre elementos */

        .moments-card {
            padding: 15px; /* Reduce el padding dentro de la tarjeta */

            h3 {
                font-size: 1rem; /* Reduce el tamaño de la fuente */
            }
        }
    }
}
